## Hi there, I'm {{ name }} <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px"></a>

[![Git](https://img.shields.io/badge/-Git-black?style=flat-square&logo=git)](https://git-scm.com/)
[![GitHub](https://img.shields.io/badge/-GitHub-181717?style=flat-square&logo=github)](https://www.github.com)
[![GitLab](https://img.shields.io/badge/-GitLab-FCA121?style=flat-square&logo=gitlab)](https://www.gitlab.com)
[![BitBucket](https://img.shields.io/badge/-BitBucket-darkblue?style=flat-square&logo=bitbucket)](https://bitbucket.org/)
![VS Code](https://img.shields.io/badge/-VS%20Code-007ACC?style=flat-square&logo=visual-studio-code)
[![Windows 10](https://img.shields.io/badge/Windows-0078D6?logo=windows&logoColor=white)](https://www.postman.com)
[![Postman](https://img.shields.io/badge/Postman-black?style=flat-square&logo=postman)](https://www.postman.com)
![AWS](https://img.shields.io/badge/AWS-%23FF9900.svg?logo=amazon-aws&logoColor=white)
![Vim](https://img.shields.io/badge/VIM-%2311AB00.svg?logo=vim&logoColor=white)

<div style="display: flex;gap: .6rem;">{{#projects}}<a href="{{link}}"><img src="{{image}}" width="300" /><p>{{title}}</p></a>{{/projects}}</div>


<hr>

## Technologies which I use:

![HTML5](https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white)
![CSS3](https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white)
![JavaScript](https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E)
![jQuery](https://img.shields.io/badge/jquery-%230769AD.svg?style=for-the-badge&logo=jquery&logoColor=white)
![Bootstrap](https://img.shields.io/badge/bootstrap-%23563D7C.svg?style=for-the-badge&logo=bootstrap&logoColor=white)
![MySQL](https://img.shields.io/badge/mysql-%2300f.svg?style=for-the-badge&logo=mysql&logoColor=white)
![MongoDB](https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white)
![PHP](https://img.shields.io/badge/php-%23777BB4.svg?style=for-the-badge&logo=php&logoColor=white)
![Laravel](https://img.shields.io/badge/laravel-%23FF2D20.svg?style=for-the-badge&logo=laravel&logoColor=white)

[![Linkedin](https://img.shields.io/badge/linked-in-369?style=flat-square&logo=linkedin&logoColor=white&color=blue)](https://www.linkedin.com/in/novruzrhmv)
[![E-Mail](https://img.shields.io/badge/email-reveal-2a8?style=flat-square&logo=gmail&logoColor=white)](mailto:novruzrehimov@gmail.com)
[![Visits](https://komarev.com/ghpvc/?username=novruzrhmv&logo=GitHub&label=vists&color=336699&logoColor=white&style=flat-square)](https://github.com/novruzrhmv)

[![GitHub stats](https://github-readme-stats.vercel.app/api?username=novruzrhmv&theme=tokyonight)](https://github.com/novruzrhmv)
<img src="https://github-readme-stats.vercel.app/api/wakatime?username=novruzrhmv&theme=tokyonight" /> 
<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=novruzrhmv&count_private=true&theme=tokyonight" />
[![StackOverflow](https://github-readme-stackoverflow.vercel.app/?userID=10311592&theme=dark)](https://stackoverflow.com/users/10311592/novruzrhmv)

[![Facebook](https://img.shields.io/badge/Facebook-1877F2?style=for-the-badge&logo=facebook&logoColor=white)](https://facebook.com/novruzrhmv)
[![Codepen](https://img.shields.io/badge/Codepen-000000?style=for-the-badge&logo=codepen&logoColor=white)](https://codepen.io/novruzrhmv)
[![Instagram](https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white)](https://instagram.com/novruzrhmv)
[![Linkedin](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/novruzrhmv)
[![Linkedin](https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white)](https://www.linkedin.com/in/novruzrhmv)
[![Linkedin](https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white)](https://www.linkedin.com/in/novruzrhmv)
